<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AQUA-TEAM</title>
    <script src="/js/jquery-1.10.2.min.js"></script>
    <script src="/js/socket.io.js"></script>
    <script src="/js/myScript.js"></script>
    <!--<script src="/js/gamePad.js"></script>-->
</head>
<body>
<div class="jumbotron">
    <div class="row-fluid">
        <div class="span12">
            Motor: <input id="numMotor" type="text"><br>
            Speed: <input id="speed" type="text"><br>
            <input type="submit" value="Submit" onclick="sendData()">
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div class="hero-unit">
                <div id="sensorList">
                    <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" width="600"
                         height="380">
                        <g transform="translate(-260.34243,-244.71226)">
                            <path d="m 409.59737,308.63775 c -3.78803,0 -6.80855,3.08883 -6.80855,6.92495 l 0,182.21588 c 0,3.83613 3.02052,6.85023 6.80855,6.85023 l 301.50765,0 c 3.81278,0 6.88282,-3.0141 6.88282,-6.85023 l 0,-182.21588 c 0,-3.83612 -3.07004,-6.92495 -6.88282,-6.92495 -100.19014,0.62705 -211.39302,0.12438 -301.50765,0 z"
                                  style="fill:#3f3f3f;stroke:#000000;stroke-width:2.48340273;stroke-linecap:round;stroke-linejoin:round"></path>
                            <g>
                                <path id="buttonR2"
                                      d="m 694.06523,268.50229 82.07407,0 -6.43717,-10.63652 c -4.20897,-6.97478 -15.17694,-12.15603 -34.61225,-12.15603 -19.41059,0 -30.37854,5.18125 -34.61224,12.15603 l -6.41241,10.63652 z"
                                      style="fill:#5a5a5a;stroke:#000000;stroke-width:2.48340273"></path>
                                <path id="buttonR1" style="fill:#5a5a5a;stroke:#000000;stroke-width:2.48340273"
                                      d="m 694.06523,273.48426 82.07407,0 -6.43717,-10.63652 c -4.20897,-6.97476 -15.17694,-12.15603 -34.61225,-12.15603 -19.41059,0 -30.37854,5.18127 -34.61224,12.15603 l -6.41241,10.63652 z"></path>
                            </g>
                            <g>
                                <path id="buttonL2"
                                      d="m 341.60482,268.50229 82.07406,0 -6.41242,-10.63652 c -4.23369,-6.97478 -15.20165,-12.15603 -34.61223,-12.15603 -19.43534,0 -30.4033,5.18125 -34.61223,12.15603 l -6.43718,10.63652 z"
                                      style="fill:#5a5a5a;stroke:#000000;stroke-width:2.48340273"></path>
                                <path id="buttonL1" style="fill:#5a5a5a;stroke:#000000;stroke-width:2.48340273"
                                      d="m 341.60482,273.48426 82.07406,0 -6.41242,-10.63652 c -4.23369,-6.97476 -15.20165,-12.15603 -34.61223,-12.15603 -19.43534,0 -30.4033,5.18127 -34.61223,12.15603 l -6.43718,10.63652 z"></path>
                            </g>
                            <path d="m 829.14702,364.65449 c 11.84134,66.48525 20.12275,133.63322 29.98332,200.35838 -1.99071,50.59403 -77.21571,80.04636 -109.59201,38.2485 -24.20095,-38.44007 -42.83381,-80.25282 -63.4453,-120.73327 47.68466,-39.29121 95.36931,-78.58241 143.05399,-117.87361 z m -42.43591,-41.67426 c -7.5149,-21.51963 2.89363,-59.7554 -27.62006,-64.25541 -21.99421,-2.01781 -59.19215,-8.90622 -68.25612,17.09465 -2.68484,15.68321 -4.90493,31.4418 -7.36629,47.16076 m -249.19317,0 c -7.52853,-21.51725 2.89057,-59.75499 -27.62006,-64.25541 -21.9988,-2.01864 -59.18498,-8.90483 -68.26323,17.09465 -2.69545,15.68108 -4.89422,31.44277 -7.35919,47.16076 m -39.48963,41.67426 c -11.79487,66.49175 -20.3799,133.60158 -29.92209,200.37069 2.19203,49.23627 73.88745,79.26111 107.54929,40.52184 21.36167,-30.15012 35.37965,-64.99864 52.84348,-97.50874 6.49544,-13.0937 19.18145,-27.62852 0.61975,-35.36789 -43.6968,-36.00531 -87.39361,-72.01061 -131.09043,-108.0159 z m 133.69533,-40.354 c 90.07927,0 180.15855,0 270.23781,0 11.79139,3.20724 5.09131,18.67292 6.85807,27.81899 -0.35798,46.21222 0.71612,92.57078 -0.53729,138.69149 -6.99523,7.6882 -19.39472,2.59818 -28.86528,4.07249 -82.56444,0 -165.12887,0 -247.69331,0 -11.7914,-3.20724 -5.09131,-18.67292 -6.85807,-27.819 0.35798,-46.21222 -0.71612,-92.57077 0.53729,-138.69149 1.03992,-2.46725 3.6565,-4.11367 6.32078,-4.07248 z"
                                  style="fill:#262626;stroke:#000000;stroke-width:2.48340273"></path>
                            <ellipse
                                    style="fill:#333333;stroke:#000000;stroke-width:2.4756422;stroke-linecap:round;stroke-linejoin:round"
                                    cx="382.81042" cy="388.0806" rx="93.862671" ry="94.437065"></ellipse>
                            <ellipse transform="scale(-1,1)"
                                     style="fill:#333333;stroke:#000000;stroke-width:2.4756422;stroke-linecap:round;stroke-linejoin:round"
                                     cx="-737.87531" cy="388.0806" rx="93.862671" ry="94.437065"></ellipse>
                            <path d="m 718.60079,318.29716 c -3.78803,0 -6.88283,3.11374 -6.88283,6.92496 l 0,36.5179 -36.37008,0 c -3.78802,0 -6.80855,3.11374 -6.80855,6.92496 l 0,38.83452 c 0,3.83612 3.02053,6.94986 6.80855,6.94986 l 36.37008,0 0,36.493 c 0,3.83612 3.0948,6.92494 6.88283,6.92494 l 38.62309,0 c 3.78802,0 6.80859,-3.08882 6.80859,-6.92494 l 0,-36.493 36.34529,0 c 3.81282,0 6.80852,-3.11374 6.80852,-6.94986 l 0,-38.83452 c 0,-3.81122 -2.9957,-6.92496 -6.80852,-6.92496 l -36.34529,0 0,-36.5179 c 0,-3.81122 -3.02057,-6.92496 -6.80859,-6.92496 l -38.62309,0 z"
                                  style="fill:#262626"></path>
                            <rect id="buttonSelect" width="28.794008" height="16.614901" x="490.89786" y="389.41498"
                                  rx="3.8870671" ry="3.9108534"
                                  style="fill:#5a5a5a;stroke:#000000;stroke-width:2.48340273;stroke-linecap:round;stroke-linejoin:round"></rect>
                            <path id="buttonStart"
                                  d="m 623.92472,397.70991 -21.04464,8.295 c -2.00542,0.79711 -3.88706,-1.74369 -3.88706,-3.91086 l 0,-8.79319 c 0,-2.14225 1.88164,-4.68306 3.88706,-3.88595 l 21.04464,8.295 z"
                                  style="fill:#5a5a5a;stroke:#000000;stroke-width:2.48340273;stroke-linecap:round;stroke-linejoin:round"></path>
                            <ellipse
                                    style="fill:#5a5a5a;stroke:#000000;stroke-width:2.85745645;stroke-linecap:round;stroke-linejoin:round"
                                    cx="559.21802" cy="445.39258" rx="16.380333" ry="16.48057"></ellipse>
                            <path d="m 363.0951,317.10149 c -3.78803,0 -6.88283,3.11374 -6.88283,6.92496 l 0,36.5179 -36.34532,0 c -3.81279,0 -6.8333,3.08883 -6.80854,6.92494 l 0,38.83454 c 0,3.83612 2.99575,6.92494 6.80854,6.92494 l 36.34532,0 0,36.51791 c 0,3.83612 3.0948,6.92495 6.88283,6.92495 l 38.62309,0 c 3.78804,0 6.80855,-3.08883 6.80855,-6.92495 l 0,-36.51791 36.37008,0 c 3.78802,0 6.80855,-3.08882 6.80855,-6.92494 l 0,-38.83454 c 0,-3.83611 -3.02053,-6.92494 -6.80855,-6.92494 l -36.37008,0 0,-36.5179 c 0,-3.81122 -3.02051,-6.92496 -6.80855,-6.92496 l -38.62309,0 z"
                                  style="fill:#262626"></path>
                            <g>
                                <ellipse ry="59.918686" rx="59.554253" cy="479.90854" cx="472.7829"
                                         style="fill:#333333;stroke:#000000;stroke-width:2.49099112;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                                <ellipse ry="59.918686" rx="59.554253" cy="479.90854" cx="646.25342"
                                         style="fill:#333333;stroke:#000000;stroke-width:2.49099112;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                            </g>
                            <g>
                                <ellipse ry="46.241596" rx="45.96035" cy="479.90982" cx="472.78323"
                                         style="fill:#000000;fill-opacity:0.51999996;stroke:#000000;stroke-width:2.48564506;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                                <ellipse id="buttonLeftStick" ry="40.379993" rx="40.134392" cy="479.91037"
                                         cx="472.78336"
                                         style="fill:#4d4d4d;fill-opacity:0.51999996;stroke:#000000;stroke-width:2.48064399;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                                <ellipse ry="46.241596" rx="45.96035" cy="479.90982" cx="646.25378"
                                         style="fill:#000000;fill-opacity:0.51999996;stroke:#000000;stroke-width:2.48564506;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                                <ellipse id="buttonRightStick" ry="40.379993" rx="40.134392" cy="479.91037"
                                         cx="646.25391"
                                         style="fill:#4d4d4d;fill-opacity:0.51999996;stroke:#000000;stroke-width:2.48064399;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                            </g>
                            <g transform="matrix(2.4758388,0,0,2.4909894,-384.21207,-931.50698)" style="fill:#3f3f3f">
                                <path d="m 279.97,514.40997 -12.66,7.30926 0,-14.61851 z"
                                      transform="matrix(0,-0.2837353,-0.5174088,0,575.78708,583.63867)"
                                      style="fill:#3f3f3f"></path>
                                <path transform="matrix(0,0.2837353,-0.5174088,0,575.78708,474.89258)"
                                      d="m 279.97,514.40997 -12.66,7.30926 0,-14.61851 z" style="fill:#3f3f3f"></path>
                                <path transform="matrix(0.2837353,0,0,-0.5174088,255.25195,795.4277)"
                                      d="m 279.97,514.40997 -12.66,7.30926 0,-14.61851 z" style="fill:#3f3f3f"></path>
                                <path d="m 279.97,514.40997 -12.66,7.30926 0,-14.61851 z"
                                      transform="matrix(-0.2837353,0,0,-0.5174088,363.99805,795.4277)"
                                      style="fill:#3f3f3f"></path>
                            </g>
                            <g>
                                <ellipse id="button1" ry="20.525753" rx="20.400911" cy="344.1235" cx="737.86487"
                                         style="fill:#5a5a5a;stroke:#454545;stroke-width:2.48340273;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                                <ellipse id="button2" ry="20.525753" rx="20.400911" cy="-388.25909" cx="-781.73462"
                                         style="fill:#5a5a5a;stroke:#454545;stroke-width:2.48340273;stroke-linecap:round;stroke-linejoin:round"
                                         transform="scale(-1,-1)"></ellipse>
                                <ellipse id="button3" ry="20.525753" rx="20.400911" cy="432.36646" cx="737.86487"
                                         style="fill:#5a5a5a;stroke:#454545;stroke-width:2.48340273;stroke-linecap:round;stroke-linejoin:round"></ellipse>
                                <ellipse id="button4" ry="20.525753" rx="20.400911" cy="-388.25909" cx="-694.02838"
                                         style="fill:#5a5a5a;stroke:#454545;stroke-width:2.48340273;stroke-linecap:round;stroke-linejoin:round"
                                         transform="scale(-1,-1)"></ellipse>
                                <rect style="fill:none;stroke:#ff01db;stroke-width:2.48340273" ry="0" rx="0"
                                      y="376.51151" x="682.35449" height="23.49003" width="23.34716"></rect>
                                <path style="fill:none;stroke:#00ff83;stroke-width:1.13999999"
                                      transform="matrix(2.1705223,0,0,2.1801418,-237.37117,-777.17822)"
                                      d="m 455.30663,518.11343 -11.9684,0.0431 5.9469,-10.38647 z"></path>
                                <ellipse ry="14.07513" rx="13.989522" cy="-388.2569" cx="-781.73199"
                                         style="fill:none;stroke:#ff0000;stroke-width:2.4862988;stroke-linecap:round;stroke-linejoin:round"
                                         transform="scale(-1,-1)"></ellipse>
                                <path style="fill:none;stroke:#8243fb;stroke-width:2.48340273"
                                      d="m 727.53856,422.17143 21.04464,21.17341 m 0,-21.17341 -21.04464,21.17341"></path>
                            </g>
                            <g style="fill:#5a5a5a;stroke:#454545"
                               transform="matrix(2.4758388,0,0,2.4909894,-384.21207,-931.50698)">
                                <path id="button2L" transform="translate(0.351025,0.3733521)"
                                      d="m 318.71094,523.28906 a 1.1801179,1.1801179 0 0 0 -0.94922,0.44922 l -3.5,4.4375 a 1.1801179,1.1801179 0 0 0 -0.004,1.45899 l 3.5,4.46875 a 1.1801179,1.1801179 0 0 0 0.92578,0.45117 l 8.125,0.0312 a 1.1801179,1.1801179 0 0 0 1.1836,-1.17969 l 0,-8.78125 a 1.1801179,1.1801179 0 0 0 -1.15625,-1.17969 l -8.125,-0.15625 z"
                                      style="fill:#5a5a5a;stroke:#454545;stroke-linecap:round;stroke-linejoin:round"></path>
                                <path id="button4L" transform="matrix(-1,0,0,1,618.89898,0.2844974)"
                                      d="m 318.71094,523.28906 a 1.1801179,1.1801179 0 0 0 -0.94922,0.44922 l -3.5,4.4375 a 1.1801179,1.1801179 0 0 0 -0.004,1.45899 l 3.5,4.46875 a 1.1801179,1.1801179 0 0 0 0.92578,0.45117 l 8.125,0.0312 a 1.1801179,1.1801179 0 0 0 1.1836,-1.17969 l 0,-8.78125 a 1.1801179,1.1801179 0 0 0 -1.15625,-1.17969 l -8.125,-0.15625 z"
                                      style="fill:#5a5a5a;stroke:#454545;stroke-linecap:round;stroke-linejoin:round"></path>
                                <path id="button3L" transform="matrix(0,1,-1,0,838.51727,219.99165)"
                                      d="m 318.71094,523.28906 a 1.1801179,1.1801179 0 0 0 -0.94922,0.44922 l -3.5,4.4375 a 1.1801179,1.1801179 0 0 0 -0.004,1.45899 l 3.5,4.46875 a 1.1801179,1.1801179 0 0 0 0.92578,0.45117 l 8.125,0.0312 a 1.1801179,1.1801179 0 0 0 1.1836,-1.17969 l 0,-8.78125 a 1.1801179,1.1801179 0 0 0 -1.15625,-1.17969 l -8.125,-0.15625 z"
                                      style="fill:#5a5a5a;stroke:#454545;stroke-linecap:round;stroke-linejoin:round"></path>
                                <path id="button1L"
                                      d="m 318.71094,523.28906 a 1.1801179,1.1801179 0 0 0 -0.94922,0.44922 l -3.5,4.4375 a 1.1801179,1.1801179 0 0 0 -0.004,1.45899 l 3.5,4.46875 a 1.1801179,1.1801179 0 0 0 0.92578,0.45117 l 8.125,0.0312 a 1.1801179,1.1801179 0 0 0 1.1836,-1.17969 l 0,-8.78125 a 1.1801179,1.1801179 0 0 0 -1.15625,-1.17969 l -8.125,-0.15625 z"
                                      transform="matrix(0,-1,-1,0,838.60612,838.5396)"
                                      style="fill:#5a5a5a;stroke:#454545;stroke-linecap:round;stroke-linejoin:round"></path>
                            </g>
                            <path id="text3336"
                                  d="m 377.03408,267.70517 2.55011,0 0,16.93873 9.25964,0 0,2.19207 -11.80975,0 0,-19.1308"
                                  style="font-size:10.52000046px;line-height:-200;font-family:'DejaVu Sans';-inkscape-font-specification:'DejaVu Sans';text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000"></path>
                            <path d="m 739.86824,277.8684 c 0.54468,0.19929 1.08937,0.59784 1.6093,1.19569 0.51992,0.62274 1.03984,1.46968 1.58454,2.5408 l 2.59963,5.23108 -2.77294,0 -2.42633,-4.90725 c -0.61896,-1.29532 -1.23791,-2.14225 -1.83211,-2.54081 -0.56945,-0.42347 -1.38647,-0.64766 -2.40156,-0.64766 l -2.79771,0 0,8.09572 -2.57487,0 0,-19.1308 5.81822,0 c 2.15399,0 3.78803,0.47329 4.85264,1.37004 1.06461,0.92167 1.6093,2.29171 1.6093,4.13505 0,1.22058 -0.2971,2.21697 -0.84179,3.0141 -0.56944,0.79711 -1.36171,1.34513 -2.42632,1.64404 m -6.43718,-8.02098 0,6.77549 3.24335,0 c 1.23793,0 2.15399,-0.27401 2.79771,-0.84693 0.61895,-0.59784 0.9408,-1.44479 0.9408,-2.56572 0,-1.09604 -0.32185,-1.94297 -0.9408,-2.5159 -0.64372,-0.57293 -1.55978,-0.84694 -2.79771,-0.84694 l -3.24335,0"
                                  style="font-size:10.52000046px;line-height:-200;font-family:'DejaVu Sans';-inkscape-font-specification:'DejaVu Sans';text-align:center;writing-mode:lr-tb;text-anchor:middle;fill:#000000"></path>
                            <path d="m 491.31879,375.16645 0,1.09605 c -0.42089,-0.19929 -0.84178,-0.34875 -1.21316,-0.44839 -0.37138,-0.0996 -0.718,-0.14946 -1.08937,-0.14946 -0.5942,0 -1.06461,0.0996 -1.38647,0.34874 -0.34661,0.22419 -0.49517,0.57293 -0.49517,0.9964 0,0.37364 0.099,0.64765 0.32186,0.84693 0.22282,0.17438 0.64372,0.32384 1.23792,0.44838 l 0.66847,0.12455 c 0.84179,0.17437 1.46075,0.44838 1.85688,0.84694 0.39614,0.39855 0.59421,0.94657 0.59421,1.61914 0,0.79712 -0.27234,1.41987 -0.81703,1.81843 -0.51992,0.42346 -1.31219,0.62274 -2.35205,0.62274 -0.37138,0 -0.79227,-0.0498 -1.23792,-0.12455 -0.44564,-0.0996 -0.89128,-0.22419 -1.36171,-0.39856 l 0,-1.14586 c 0.44566,0.2491 0.89132,0.44838 1.33695,0.57294 0.42089,0.12453 0.84179,0.19927 1.26268,0.19927 0.64373,0 1.13889,-0.12454 1.48551,-0.37365 0.34662,-0.274 0.51992,-0.62274 0.51992,-1.09603 0,-0.39856 -0.12379,-0.72239 -0.37137,-0.94657 -0.24759,-0.22419 -0.66848,-0.39856 -1.23792,-0.52311 l -0.66848,-0.12456 c -0.84178,-0.17436 -1.43597,-0.42346 -1.80736,-0.79711 -0.37137,-0.34874 -0.56944,-0.84693 -0.56944,-1.46968 0,-0.7473 0.27235,-1.32023 0.76752,-1.7437 0.51992,-0.42346 1.2379,-0.62274 2.1292,-0.62274 0.39615,0 0.79228,0.0249 1.18841,0.0996 0.39614,0.0747 0.81703,0.17436 1.23792,0.32382 m 2.22826,-0.274 5.19926,0 0,0.94657 -4.08514,0 0,2.44118 3.93659,0 0,0.94657 -3.93659,0 0,3.0141 4.18418,0 0,0.94657 -5.2983,0 0,-8.29499 m 7.15516,0 1.11413,0 0,7.34842 4.01087,0 0,0.94657 -5.125,0 0,-8.29499 m 6.28864,0 5.19927,0 0,0.94657 -4.08514,0 0,2.44118 3.93659,0 0,0.94657 -3.93659,0 0,3.0141 4.20893,0 0,0.94657 -5.32306,0 0,-8.29499 m 13.32001,0.64765 0,1.17077 c -0.37137,-0.34874 -0.7675,-0.62275 -1.1884,-0.79712 -0.42089,-0.17436 -0.8913,-0.2491 -1.36171,-0.2491 -0.94082,0 -1.65881,0.29893 -2.15398,0.87185 -0.51993,0.57293 -0.76751,1.41986 -0.76751,2.5159 0,1.09603 0.24758,1.91806 0.76751,2.49099 0.49517,0.59783 1.21316,0.87184 2.15398,0.87184 0.47041,0 0.94082,-0.0747 1.36171,-0.24909 0.4209,-0.17437 0.81703,-0.44838 1.1884,-0.79713 l 0,1.17078 c -0.39613,0.274 -0.79227,0.47329 -1.23791,0.59783 -0.4209,0.14946 -0.89131,0.19928 -1.38648,0.19928 -1.23792,0 -2.22825,-0.37365 -2.94625,-1.14586 -0.71799,-0.7722 -1.0646,-1.81842 -1.0646,-3.13864 0,-1.34514 0.34661,-2.39135 1.0646,-3.16356 0.718,-0.7722 1.70833,-1.14585 2.94625,-1.14585 0.49517,0 0.96558,0.0747 1.38648,0.19928 0.44564,0.12454 0.86654,0.32383 1.23791,0.59783 m 0.5942,-0.64765 6.98187,0 0,0.94657 -2.94625,0 0,7.34842 -1.11412,0 0,-7.34842 -2.9215,0 0,-0.94657"
                                  style="font-size:4.57000017px;font-family:'Bitstream Vera Sans';fill:#e6e6e6"></path>
                            <path d="m 597.48276,375.16645 0,1.09605 c -0.42089,-0.19929 -0.81703,-0.34875 -1.18841,-0.44839 -0.39613,-0.0996 -0.74275,-0.14946 -1.08937,-0.14946 -0.61896,0 -1.08937,0.0996 -1.41123,0.34874 -0.32184,0.22419 -0.49515,0.57293 -0.49515,0.9964 0,0.37364 0.099,0.64765 0.32186,0.84693 0.2228,0.17438 0.6437,0.32384 1.23791,0.44838 l 0.69323,0.12455 c 0.81703,0.17437 1.43599,0.44838 1.83212,0.84694 0.39613,0.39855 0.59421,0.94657 0.59421,1.61914 0,0.79712 -0.27235,1.41987 -0.81704,1.81843 -0.51992,0.42346 -1.31219,0.62274 -2.35204,0.62274 -0.37138,0 -0.79227,-0.0498 -1.23791,-0.12455 -0.44565,-0.0996 -0.89131,-0.22419 -1.36171,-0.39856 l 0,-1.14586 c 0.44564,0.2491 0.8913,0.44838 1.33695,0.57294 0.42088,0.12453 0.84177,0.19927 1.26267,0.19927 0.64372,0 1.13889,-0.12454 1.4855,-0.37365 0.34662,-0.274 0.51993,-0.62274 0.51993,-1.09603 0,-0.39856 -0.1238,-0.72239 -0.37138,-0.94657 -0.24758,-0.22419 -0.66848,-0.39856 -1.23792,-0.52311 l -0.66847,-0.12456 c -0.84179,-0.17436 -1.43598,-0.42346 -1.80736,-0.79711 -0.37137,-0.34874 -0.54468,-0.84693 -0.54468,-1.46968 0,-0.7473 0.24758,-1.32023 0.76751,-1.7437 0.49517,-0.42346 1.21315,-0.62274 2.10445,-0.62274 0.39614,0 0.79227,0.0249 1.18841,0.0996 0.39613,0.0747 0.81703,0.17436 1.23792,0.32382 m 1.08937,-0.274 6.98186,0 0,0.94657 -2.94624,0 0,7.34842 -1.11413,0 0,-7.34842 -2.92149,0 0,-0.94657 m 9.92811,1.09604 -1.51027,4.13503 3.02053,0 -1.51026,-4.13503 m -0.64372,-1.09604 1.26268,0 3.14431,8.29499 -1.13888,0 -0.76751,-2.14225 -3.71375,0 -0.74276,2.14225 -1.1884,0 3.14431,-8.29499 m 9.53198,4.40905 c 0.22283,0.0747 0.47041,0.2491 0.69324,0.5231 0.22283,0.24909 0.44565,0.62275 0.66848,1.09603 l 1.13889,2.26681 -1.18841,0 -1.06461,-2.14225 c -0.27234,-0.54802 -0.54469,-0.92167 -0.79227,-1.09604 -0.24759,-0.17437 -0.59421,-0.27401 -1.03985,-0.27401 l -1.21317,0 0,3.5123 -1.11413,0 0,-8.29499 2.50061,0 c 0.94081,0 1.65881,0.19927 2.12922,0.59783 0.44565,0.39856 0.69324,0.9964 0.69324,1.79352 0,0.5231 -0.1238,0.94657 -0.37138,1.29531 -0.24759,0.34873 -0.5942,0.57293 -1.03986,0.72239 m -2.7977,-3.48739 0,2.93937 1.38648,0 c 0.54468,0 0.94081,-0.12456 1.21316,-0.37365 0.2971,-0.2491 0.42089,-0.62274 0.42089,-1.09603 0,-0.49821 -0.12379,-0.84694 -0.42089,-1.09603 -0.27235,-0.24911 -0.66848,-0.37366 -1.21316,-0.37366 l -1.38648,0 m 4.77838,-0.92166 6.98185,0 0,0.94657 -2.94624,0 0,7.34842 -1.11413,0 0,-7.34842 -2.92148,0 0,-0.94657"
                                  style="font-size:4.57000017px;font-family:'Bitstream Vera Sans';fill:#e6e6e6"></path>
                            <g>
                                <rect style="fill:#1a1a1a" ry="3.9108534" rx="0" y="309.80292" x="466.09003"
                                      height="6.7256713" width="5.1497445"></rect>
                                <rect style="fill:#1a1a1a" width="5.1497445" height="6.7256713" x="482.33151"
                                      y="309.80292" rx="0" ry="3.9108534"></rect>
                                <rect style="fill:#1a1a1a" ry="3.9108534" rx="0" y="309.80292" x="496.8399"
                                      height="6.7256713" width="5.1497445"></rect>
                                <rect style="fill:#ff0000" width="5.1497445" height="6.7256713" x="509.46667"
                                      y="309.80292" rx="0" ry="3.9108534"></rect>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
